body{
    background-color: #535353;
    padding: 0;
}


/*mobile by default*/
    .grid {
        display: grid;
        justify-items: center;
        
            grid-template-columns: 100%;
            grid-template-rows: 5fr 250px 2fr 1fr;
            grid-template-areas:
                "game"
                "chat"
                "Input"
                "footer"
                "header";
        min-height: 0;  
        min-width: 0; 
        width: 95vw;

        margin: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

/*desktop-only*/
    @media only screen and (min-width: 600px) {
        .grid {
            display: grid;
            justify-items: center;

                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows:  1fr 450px 1fr 1fr;
                grid-template-areas:
                    "empty header empty2"
                    "chat game empty3"
                    "empty4 Input  empty5"
                    "footer footer footer";
            width: 100vw;
            height: 95vh;
            max-width: 65%;
            margin: auto;
            margin-top: 0;
            margin-bottom: 0;
                    
        }
        .chat ul{
            overflow:hidden; 
            overflow-y:scroll;
            min-height: 20%;
            max-height: 90%;
            margin: 0;
            padding: 0;
        }
    }

    
.empty{
    grid-area: empty;
    background-color: #C6C6C6;
    width: 100%;

}
.empty2{
    grid-area: empty2;
    background-color: #C6C6C6;
    width: 100%;

}
.empty3{
    grid-area: empty3;
    background-color: #C6C6C6;
    width: 100%;

}

.empty4{
    grid-area: empty4;
    background-color: #C6C6C6;
    width: 100%;

}

.empty5{
    grid-area: empty5;
    background-color: #C6C6C6;
    width: 100%;

}


#header{
    grid-area: header;
    background-color: #C6C6C6;
    font-size: 2em;
    width: 100%;
    justify-content: center;

}

#header img{
    max-height: 75%;
    display: block;
    margin: auto;

}

.chat {
    grid-area: chat;
    width: 100%;
    max-height: 100%;
    background-color: #C6C6C6;
}

.chat ul{
    overflow:hidden; 
    overflow-y: auto;
    width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}


.chat ul li{
    padding-left: .2em;
    list-style-type: none;
    font-size: 1.2em;
}

.chat ul li:nth-child(even){
    background: #909090;

}

.chat ul li:nth-child(odd){
    background: #707070;
}

#gameCanvas {
    grid-area: game;
    background-color: #EFEFEF;
    max-width: 100%;
    margin: 0;  

}

#Input {
    grid-area: Input;
    width: 100%;
    background-color: #EFEFEF;
    text-align: center;
}

#Input p{
    color: grey;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

#chatInput {

    justify-content: right;
}

#usernameInput{

    justify-content: left;
    margin-bottom: 1em;
}

footer {
    grid-area: footer;
    background-color: #C6C6C6;
    width: 100%;

    padding-top: 2em;
    text-align: center;

} 

    
    
   
  
        