
.grid {
    display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "game game game"
            "game game game"
            "blank chat blank"
            "blank username blank"
            "desc desc desc"
            "footer footer footer";
}

#gameCanvas {
    grid-area: game;
}

#chatForm {
    grid-area: chat;
}

#usernameForm{
    grid-area: username;
}
.footer {
    grid-area: footer;
} 


    
    
   
  
        